### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

   Purchase ID             SN  ...                                  Item Name Price
0            0        Lisim78  ...  Extraction, Quickblade Of Trembling Hands  3.53
1            1    Lisovynya38  ...                          Frenzied Scimitar  1.56
2            2     Ithergue48  ...                               Final Critic  4.88
3            3  Chamassasya86  ...                                Blindscythe  3.27
4            4      Iskosia90  ...                                       Fury  1.44

[5 rows x 7 columns]

## Player Count

* Display the total number of players

In [2]:
# Count total number of players
total_players = purchase_data["SN"].unique()
player_count = len(total_players)
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# Obtain number of unique items
unique_items = len(purchase_data["Item Name"].unique())

# Obtain average price
avg_price = purchase_data["Price"].mean()

# Obtain total number of purchases
purchase_number = len(purchase_data["Purchase ID"])

# Obtain total revenue
total_revenue = purchase_data["Price"].sum()

# Create purchase analysis
Purchase_Analysis = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Total Number of Purchases": [purchase_number], "Total Revenue": [total_revenue]})

Purchase_Analysis['Average Price'] = Purchase_Analysis['Average Price'].map("${:.2f}".format)
Purchase_Analysis['Total Revenue'] = Purchase_Analysis['Total Revenue'].map("${:.2f}".format)
Purchase_Analysis.head()

   Number of Unique Items  ... Total Revenue
0                     179  ...      $2379.77

[1 rows x 4 columns]

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [82]:
# Groupby
gender_count = purchase_data.groupby(["Gender"])["SN"].nunique()

# Find percentages
percentage_of_players = ((gender_count/purchase_data.drop_duplicates(subset=["SN"]).shape[0]))*100
percentage_of_players = (round(percentage_of_players, 2))
percentage_of_players = percentage_of_players.map("{:,.2f}%".format)

# Create gender demographics
Gender_Demo = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_of_players})
Gender_Demo.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [112]:
# Obtain Purchase Count by gender
pur_count = (purchase_data.groupby(["Gender"]))["Purchase ID"].count()
pur_count

# Obtain Average Purchase Price by gender
avg_purchase = (purchase_data.groupby(["Gender"]))["Price"].mean()
avg_purchase = avg_purchase.map("${:.2f}".format)
avg_purchase

# Obtain Total Purchase Value by gender
total_purvalue = (purchase_data.groupby(["Gender"]))["Price"].sum()
total_purvalue = total_purvalue.map("${:.2f}".format)
total_purvalue

# Obtain Avg Total Purchase per Person by gender
# avg_total_pur

Purchasing_Analysis_G = pd.DataFrame({"Purchase Count": pur_count, "Average Purchase Price": avg_purchase, "Total Purchase Value": total_purvalue})
Purchasing_Analysis_G.head()

                       Purchase Count  ... Total Purchase Value
Gender                                 ...
Female                            113  ...              $361.94
Male                              652  ...             $1967.64
Other / Non-Disclosed              15  ...               $50.19

[3 rows x 3 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [136]:
# Establish bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 99]

# Create names for bins
group_names_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize existing players using age bins
purchase_data["Ages"] = pd.cut(purchase_data["Age"], bins, labels=group_names_age)
player_ages_df = purchase_data.groupby(["Ages"])
player_ages_df.head()

# Calculate Total Count and Percentage of Players by age group
total_count_age = player_ages_df["Price"].count()
total_count_age

# Create summary data frame to hold results


# Optional: round percentage column to two decimal places


# Display Age Demographics Table

Ages
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Price, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Bin purchase_data df by age


# Obtain Purchase Count


# Obtain Total Purchase Value


# Obtain Average Total Purchase per Person


# Create summary df with results


# Optional: clean


# Displace summary df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Obtain Purchase Count


# Obtain Average Purchase Price


# Obtain Total Purchase Value

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Obtain Item ID column


# Obtain Item Name column


# Obtain Item Price column


# Group by Item ID and Item Name. Obtain Purchase Count, Item Price, Total Purchase Value


# Create summary df with results


# Sort Purchase Count column in descending order


# Optional: clean


# Display preview (.head()) of summary df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort "Most Popular Items" table by Total Purchase Value in descending order

# Optional: clean


# Display prewview (.head()) of df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80